{% extends "/base.html.twig" %}
{% block body %}
    <footer class="container-fluid footer">
        <div class="row">
            <div class="footerLogo col-md-4" style="">
                PHPost
            </div>
            <div class="col-md-8"></div>
        </div>


        <nav class="row">
                    <div class="col-md-1"></div>
                        <ul class="col-md-1 footerMenu" style="margin-left: -6%; margin-right: -2%">
                            <li>Home</li>
                            <li>Blog</li>
                            <li>About</li>
                            <li>Contact</li>
                        </ul>
                        <ul class="col-md-1 footerMenu">
                            <li>Conference</li>
                            <li>Project</li>
                            <li>FAQs</li>
                            <li>Comunity</li>
                        </ul>
                <div class="col-md-7"></div>

                <div class="newslleter col-md-2">
                    Subscribe to Our Newsletter
                    <form>
                        <input type="email" value="" name="EMAIL"  placeholder="Email address" required="">
                    </form>
                    Wyświetlić loga z odnośnikami font-awesome
                </div>
        </nav><br>
        <div class="copyright">© 2007–2020 Dieline Media, LLC. All rights reserved.</div>
        <div class="Terms"> Terms & Conditions — Privacy Policy — Cookie Policy </div>


    </footer>
{% endblock %}




