{% extends '/base.html.twig' %}
{% block body %}
    <div class="row slideshow" style="height: 500px; width: 100%; background-color: black">
        <div class=" col-md-4 describe">
        </div>
        <div class="col-md-8 image">
        </div>
    </div>

{% endblock %}