{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <div class="row" style="background-color: darkslateblue">
            <div class="headerLogo col-md-8" style="display: block">
                PHPost
            </div>
            <div class="col-md-4" style="background-color: darkslateblue"></div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="content col-md-6"><br>
            {% block emalibody %}

            {% endblock %}
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}